@import url("./fonts.css");
@import "tailwindcss";

@layer base {
  html {
    /* scroll-behavior: smooth; */
  }

  body {
    color: #fff;
    line-height: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #e21515; /* For test */
  }

  main {
  }
}

@layer components {
  .container-base {
    position: relative;
    left: calc((100vw - 100%) / 2);
    max-width: 1564px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }

  @media (max-width: 1024px) {
    .container-base {
      position: static;
      left: auto;
    }
  }

  .gradient-animation {
    background-size: 200% 200%;
    background-attachment: fixed;
    -webkit-animation: Animation 10s ease infinite;
    -moz-animation: Animation 10s ease infinite;
    animation: Animation 10s ease infinite;
  }

  @-webkit-keyframes Animation {
    0% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 91% 100%;
    }
    100% {
      background-position: 10% 0%;
    }
  }
  @-moz-keyframes Animation {
    0% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 91% 100%;
    }
    100% {
      background-position: 10% 0%;
    }
  }
  @keyframes Animation {
    0% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 91% 100%;
    }
    100% {
      background-position: 10% 0%;
    }
  }
}

@layer utilities {
  .m-section {
    margin-top: 96px;
  }

  .m-block {
    margin-top: 32px;
  }

  .font-open-sans {
    font-family: "Open Sans", sans-serif;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .overflow-clip-m-4 {
    overflow-clip-margin: 16px;
  }
}
